@import url('./reset.css');

/* header--------------------------------------- */
header nav {
    background-color: var(--bege);
    color: var(--vermelho-escuro);
    height: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li, nav a {
    color: var(--vermelho-escuro);
    text-decoration: none;
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo img{
    height: 150px;
}

.carrinho{
    position: relative;
}
#quant-carrinho{
    position: absolute;
    top: 46%;
    left: 52%;
    color: var(--bege);

}

/* catalogo--------------------------------------- */
.cat-linha{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.produto:not(:hover) {
    height: min-content;
}
.produto{
    width: 300px;
    height: fit-content;
    border-radius: 22px;
    border: solid 10px var(--vermelho-escuro);
    background: var(--bege);
}
.produto > div{
    background: var(--vermelho-claro);
    border-radius: 0px 0px 10px 10px;

}
.produto .nome-vinho{
    display: flex;
    padding: 10px 25px 10px 11px;
    justify-content: space-between;
    align-items: center;
}
.produto h2{
    color: var(--bege);
    font-family: Bona Nova;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.produto p{
    color: var(--bege);
    font-family: Bona Nova;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 15px;
}
.produto .preco{
    color: var(--bege);
    font-family: Bona Nova;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 11px 20px 15px;
}
.descricao .separacao{
    background-color: var(--bege);
    opacity: 0.5;
    width: 90%;
    height: 2px;
    border-radius: 15.402px 15.402px 18px 18px;
    margin: auto;
}
.produto .descricao{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 1s;
}
.produto:hover .descricao{
    opacity: 1;
    height: 100px;
}